:root {
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --primary-blue-color: #2196f3;
  --second-color-tetx: #757575;
  --menu-text-color: #212121;
  --backgraund-gray-color: #2f303a;
  --header-logo-text: #000000;
  --button-main-accent: #188ce8;
  --backgraund-white: #f5f4fa;
  --social-fill-gray: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button-firstly {
  width: 200px;
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  padding: 10px 31px;
  transition: background-color 250ms var(--time-function);
}
.button-firstly:hover, .button-firstly:focus {
  background-color: var(--button-main-accent);
}

.button-secondary {
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
  padding: 6px 22px;
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function), border-radius 250ms var(--time-function);
}
.button-secondary:hover, .button-secondary:focus, .button-secondary:active {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.subscribe-button {
  position: relative;
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  transition: background-color 250ms var(--time-function);
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: var(--button-main-accent);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid transparent;
}
.header .container,
.header .navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--primary-blue-color);
  text-decoration: none;
}
.logo span {
  color: var(--header-logo-text);
}

.header__logo {
  margin-right: 137px;
}

.navigation__list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.navigation__link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--menu-text-color);
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms var(--time-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--primary-blue-color);
  fill: var(--primary-blue-color);
}

.connect {
  display: flex;
  margin-left: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.connect__info {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--second-color-tetx);
  fill: currentColor;
  transition: color 250ms var(--time-function);
}
.connect__info:focus, .connect__info:hover {
  color: var(--primary-blue-color);
  fill: var(--primary-blue-color);
}

.connect__icon {
  margin-right: 10px;
  transition: fill 250ms var(--time-function);
}
.connect__icon:focus, .connect__icon:hover {
  color: var(--primary-blue-color);
  fill: var(--primary-blue-color);
}

.current {
  color: #188ce8;
}
.current::after {
  content: " ";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #188ce8;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.opportunities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.opportunities__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.opportunities__block {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--backgraund-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.opportunities__title {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--primary-black-color);
  margin-bottom: 10px;
}

.opportunities__item {
  max-width: 270px;
  font-weight: 400;
  line-height: 1.714;
  color: var(--second-color-tetx);
}

.about {
  padding-bottom: 94px;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.about__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  color: var(--primary-black-color);
}

.product__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.product__block {
  position: relative;
}

.product__text {
  position: absolute;
  bottom: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  padding: 37px 82px;
  width: 100%;
}

.team {
  background-color: var(--backgraund-white);
  padding: 94px 0px;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  color: var(--primary-black-color);
}

.employee__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.employee__card {
  background-color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: var(--primary-black-color);
}

.employee__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  color: var(--second-color-tetx);
  margin-bottom: 16px;
}

.employee__block {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.social-table {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function);
}
.social-table:hover, .social-table:focus {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
}
.social-table_team {
  color: var(--social-fill-gray);
}

.clients {
  padding: 84px 0px;
}
.clients .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}

.clients__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  fill: currentColor;
  color: var(--social-fill-gray);
  border: 1px solid #afb1b8;
  transition: color 250ms var(--time-function), border 250ms var(--time-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #188ce8;
  color: var(--button-main-accent);
}

.footer {
  background-color: var(--backgraund-gray-color);
  padding: 60px 0px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__adds {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.footer__block {
  display: flex;
  flex-direction: column;
}

.footer__title {
  display: flex;
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo span {
  color: var(--primary-white-color);
}

.information__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-family: inherit;
  font-style: normal;
}

.information__addrres {
  font-weight: 400;
  line-height: 1.71;
  color: var(--primary-white-color);
  transition: color 250ms var(--time-function);
}
.information__addrres:hover, .information__addrres:focus {
  color: var(--primary-blue-color);
  fill: var(--primary-blue-color);
}

.information__contact {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.information__contact:hover, .information__contact:focus {
  color: var(--primary-blue-color);
  fill: var(--primary-blue-color);
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__tekst {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-table_footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.online {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe__form {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.subscribe__mail {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}
.subscribe__mail::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__mail:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__mail:focus {
  outline-color: rgba(255, 255, 255, 0.3);
}

.subscribe__icon {
  position: absolute;
  right: 28px;
  top: 13px;
  fill: var(--primary-white-color);
}

.hero__portfolio {
  padding: 94px 0px;
}
.hero__portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__list {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin: 50px;
}

.images__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

/* 
.images__cards {
    max-width: 370px;
    max-height: 403px;
} */
.images__link {
  display: block;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  transition: background 250ms var(--time-function), border 250ms var(--time-function), box-shadow 250ms var(--time-function);
}
.images__link:hover, .images__link:focus {
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.images__window {
  position: relative;
  overflow: hidden;
}

.images__text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms var(--time-function);
}
.images__link:hover .images__text, .images__link:focus .images__text {
  transform: translateY(0);
}

.images__block {
  padding: 20px 24px 20px 24px;
}

.images__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-black-color);
  margin-bottom: 4px;
}

.images__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color-tetx);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(176, 173, 173, 0.645);
}

.modal {
  position: absolute;
  width: 528px;
  /* min-height: 581px; */
  background-color: var(--backgraund-white);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--backgraund-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close:hover, .modal-close:focus {
  fill: var(--primary-blue-color);
}

.modal-icon {
  transition: fill 250ms var(--time-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(80, 11, 255, 0.2);
  border-radius: 4px;
  padding-left: 40px;
}
.modal-input:focus {
  outline-color: var(--primary-blue-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--primary-blue-color);
}

.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
.modal-comment:focus {
  outline-color: var(--button-main-accent);
}
.modal-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.text-check span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--header-logo-text);
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--time-function), border-color 250ms var(--time-function);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms var(--time-function);
}

.modal-check:checked + .text-check span {
  background-color: var(--primary-blue-color);
  border-color: var(--primary-blue-color);
}

.modal-check:checked + .text-check .check-icon {
  fill: var(--backgraund-white);
}

.modal-check:focus + .text-check span {
  border-color: var(--primary-blue-color);
}

.text-policy {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--primary-blue-color);
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.modal-button {
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  transition: background-color 250ms var(--time-function);
}
.modal-button:focus, .modal-button:hover {
  background: #188ce8;
}/*# sourceMappingURL=main.css.map */